@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Gabarito:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*, 
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}
/* ricordarsi di impostare in flex il body e impostare flex direction column-reverse per spingere in basso il footer*/
body {
    font-family: "Gabarito", sans-serif;
}

.intestazione {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    background-color: #1f2937;
    padding: 5px 0;
}

.logo-container {
    display: flex;
    justify-content: center;
}
.logo-container, .nav-bar { flex: 1;}

ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    
}

ul li a {
    text-decoration: none;
    color: #f9faf8;
    margin-left: 20px;
}