@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Gabarito:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
/* ricordarsi di impostare in flex il body e impostare flex direction column-reverse per spingere in basso il footer*/

body {
  font-family: "Gabarito", sans-serif;
  height: 100vh;
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
}

/* <---- style for the header section -----> */

.intestazione {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9faf8;
  background-color: #1f2937;
  padding: 5px 0;
  position: fixed;
  width: 100%;
}

.logo-container {
  display: flex;
  justify-content: center;
}
.logo-container,
.nav-bar {
  flex: 1;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #f9faf8;
  margin-left: 20px;
  cursor: pointer;
  
  padding: 2px;
  border-radius: 2px;

}

ul li a:hover {
    background-color: #3882f6;
}


/* <---- style header finish ----> */

/* style hero-section */

.hero-section {
  padding: 40px;
  display: flex;
  gap: 60px;
  color: #f9faf8;
  margin: 30px auto 40px auto;
}

.text-container {
  display: flex;
  justify-content: center;
  
  flex-direction: column;
  line-height: 1.5;
  min-width: 200px;
  max-width: 400px;
  margin-bottom: 20px;
  flex: 1;
}

.hero-title {
    font-size: 48px;
    margin-bottom: 15px;
    text-align: center;
}

.hero-paragraph {
    font-size: 18px;
    text-align: center;
}

img {
    border-radius: 20px;
    flex: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.button-signup {
    
    text-align: center;
    font-size: 24px;
    margin: 15px auto;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 3px ;
    width: 60%;
    cursor: pointer;
}

/* style card section */


.card-section {
  background-color: #f9faf8;
  
  padding: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;

}



.card-container {
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.card-section-title {
  font-size: 36px;
}

.card {
  
  padding: 40px 40px;
  min-width: 200px;
  max-width:350px;
  border: 3px solid #3882f6;
  border-radius: 10px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);  /* ombra morbida */
}

.card-title {
  margin-bottom: 20px;
}


.card a {
  text-decoration: none;
  color: #1f2937;
  margin-bottom: 20px;

}

/* <--- end style card-section ----> */


/* start style quote-section */

.quote {
flex: 1;

  width: auto;

  height: 800px;
  background-color: #e5e7eb;

  display: flex;
  
  align-items: center;
  justify-content: center;
  
  padding: 50px;

}

.text-quote {
  display: flex;
  flex-direction: column;
  font-size: 35px;
    padding: 30px 60px;
  
}

.quote-p {
  font-weight: lighter;
  margin-bottom: 10px;
}

.quote-signature {
  font-weight: bold;
  font-size: 1rem;
  align-self: end;}

  /* style call-to-action */


  .call-to-action {
    background-color: #f9faf8;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
  }

  .action {
    padding: 40px;
    color: #f9faf8;
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text, .button-call {
    padding: 30px;
    flex: 1;
    
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

  .button-call {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  }

  button {
    padding: 10px 30px;
    border: 2px solid #f9faf8;
    background-color: #3882f6;
    
  }

  .link-signup {
    text-decoration: none;
    color: #f9faf8;
    font-size: 22px;
  }

 
/* style footer */

.footer {
  padding: 25px;
  color: #f9faf8;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

